body {
    font-family: Arial, sans-serif;
    background-color: #eaf4ff;
    margin: 0;
    padding: 40px;
}

.container {
    background-color: white;
    max-width: 800px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px #aaa;
    text-align: center;
}

h1 {
    color: #2457a6;
}

button {
    background-color: #4285f4;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #2865c7;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
}

th,
td {
    border: 1px solid #aaa;
    padding: 10px;
}

th {
    background-color: #2457a6;
    color: white;
}

.alert {
    background-color: #ffe0e0;
}
/* QUESTION 2 */

#dashboard {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 20px 0;
}

.node {
    padding: 20px;
    border-radius: 8px;
    background-color: #d8f5dc;
    border: 2px solid #4caf50;
}

.node.warning {
    background-color: #fff0b3;
    border: 3px solid orange;
    color: #8a4b00;
    font-weight: bold;
}
